/*.btn-group {*/
/*    margin: 10px;*/
/*}*/



body {
}

#page-content {
    display: block;
    padding: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

#specificBoardCarousel {
    /*width: 80%;*/
    display: block;
}

#keyboardIntro {
    /*clear: left;*/
    /*width: 30%;*/
    /*align-content: start;*/
    /*margin-top: 40px;*/
}

.navbar-bg {
    background-color: #343a40;
}
.search-bar-bg {
    background-color: #6c757d;
    padding: 10px 0;
}
.main-content {
    padding: 20px;
}
.carousel-item img {
    width: 100%;
    height: auto;
}
.subscribe-section {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.footer {
    background-color: #212529;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.about-content {
    background-color: darkgrey;
    padding: 20px;
    margin-top: 20px;
}
.why-choose-us {
    background-color: darkgrey;
    padding: 20px;
    margin-top: 20px;
}