<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Keyboard FAQ</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/home.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/FAQPage.css">


</head>
<body>
    <div class="search-bar-bg">
        <div class="container d-flex align-items-center">
            <a class="navbar-brand" href="home.html"><img src="../images/CWEB%20LOGO.png" alt="Logo" style="height: 90px;"></a>
            <span class="ml-3 text-white">DTBR Keyboards</span>
        </div>
    </div>
    <nav class="nav navbar navbar-expand-sm navbar-dark navbar-bg">
        <div class="container">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navBarNavAltMarkup"
                    aria-controls="navBarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navBarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="KeychronQ3.html">Showcase</a></li>
                    <li class="nav-item"><a class="nav-link" href="accessories.html">Accessories</a></li>
                    <li class="nav-item"><a class="nav-link" href="Subscriptions.html">Subscriptions</a></li>
                    <li class="nav-item"><a class="nav-link" href="Setups.html">Setups</a></li>
                    <li class="nav-item"><a class="nav-link" href="FAQPage.html">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!--    below is the accordion for the FAQ-->

    <div id="page-content" class="container shadow-lg">
        <h1>Frequently Asked Questions</h1>
        <p>When you first start looking into getting a mechanical keyboard or learning about them, there is a lot of new information for new things that you may have never
         heard of before. This can be overwhelming and confusing, especially with so many new terms that everyone online
         uses regularly without much explanation.<br /><br />
            To make the introduction to the hobby a little more inviting, CompanyName compiled a list of commonly asked questions
             that you may have while looking through this website or while learning about mechanical keyboards in general.
        </p>
        <h2>Keyboard</h2>

        <div class="accordion" id="accordionFAQ">
            <div class="accordion-item">
                <h2 class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What is a mechanical keyboard?
                </h2>
                <p id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFAQ">Most keyboards are "membrane" keyboards, where one pressure pad is used to register keypresses.
                With a mechanical keyboard, there are individual mechanical switches that register the presses. This can lead to a much more responsive and reliable typing experience.</p>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What types of keyboard layouts are there?
                </h2>
                <section id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">There are many types of layouts and keyboard sizes but here are some common ones:
                <ul>
                <li>Full Size: These are the types of keyboards you would usually see at most offices and schools, where the board has all the keys you could need. It has the numpad, the F row, arrows, all of it!</li>
                <li>Tenkeyless (TKL): These are just like a full size board but without the numpad.</li>
                <li>65%: These are smaller boards that take up a lot less space but don't have the numpad or the F row at the top of the board.</li>
            </ul></section>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    What does it mean when a keyboard is "hot-swappable"?
                </h2>
                <p id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">When a keyboard is hot-swappable,
                that means that if you want to change out which switches are in the board, you won't have to de-solder the ones
                currently in the board to remove them or solder the new ones in. The switches will easily come out when you
                 use something like a switch puller to remove them. No soldering skills required!</p>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    What is QMK/VIA?
                </h2>
                <p id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">These are digital tools you can use to create keyboard shortcuts, macros, remap keys, change the lighting in an RGB board and much more!</p>
            </div>


        </div>

        <h2>Switches</h2>

        <div class="accordion" id="accordionFAQ2">
            <div class="accordion-item">
                <h2 class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#SwitchOne" aria-expanded="true" aria-controls="SwitchOne">
                    What types of switches are there?
                </h2>
                <section id="SwitchOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFAQ2">There are other types of switches, but
                the three main switch types are linear, tactile, and clicky.
                <ul>
                <li>Linear: Smooth press all the way down, no indication of where the actuation point is.</li>
                <li>Tactile: There will be tactile feedback when the keypress reaches the actuation point, where a small "bump" will be.</li>
                <li>Clicky: This has both tactile feedback at the actuation point and will make a "click" sound when that point is reached.</li>
            </ul></section>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SwitchTwo" aria-expanded="false" aria-controls="SwitchTwo">
                    Why would someone "lube" their switches?
                </h2>
                <p id="SwitchTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ2">Some switches don't need it, but adding lube to switches can make them
                feel and sound much smoother when pressed as there will be less resistance between the parts inside the switch.</p>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#SwitchThree" aria-expanded="false" aria-controls="SwitchThree">
                    What is the difference between a 5-pin and 3-pin switch?
                </h2>
                <p id="SwitchThree" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ2">A 3-pin switch has one large plastic pole and 2 metal pins on the bottom, those 3 contact points
                being the "pins" that are referred to. In a 5-pin switch, there are 2 extra smaller plastic poles on the bottom, which makes the switch more stable and
                can reduce any switch wobble when you type with them.</p>
            </div>

        </div>

    </div>




    <div class="footer">
        <!--&copy; for the copyright sign-->
        <p>&copy; 2024 Your Company. All Rights Reserved.</p>
    </div>
</body>
</html>